@font-face {
  font-weight: normal;
  font-family: "Clear Sans";
  font-style: normal;
  src: url("../fonts/ClearSans-Regular.ttf") format("ttf"), 
       url("../fonts/ClearSans-Regular.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Clear Sans Bold";
  font-style: normal;
  src: url("../fonts/ClearSans-Bold.ttf") format("ttf"), 
       url("../fonts/ClearSans-Bold.woff") format("woff");
}

body {
  font-size: 16px;
  line-height: 19px;
  font-family: "Clear Sans", Arial, sans-serif;
  color: #3A4047;
  background-color: #fff;
  text-align: right;
}

img {
  max-width: 100%;
  height: auto;
}

/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

/***  Header  ***/
.page-header {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); 
}

.page-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%; 
  max-width: 1170px; 
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 10px;
  /*! padding-left: 15px; */
  /*! padding-right: 15px; */
  background: #f9e9e9;
}

.logo {
  min-width: 258px;
  margin-right: 64px;
  /*! order: 1; */
}

.promo-block {
  max-width: 375px;
  margin: 0 49px 0 0;
  text-align: center;
  /*! order: 2; */
}

.promo-block__slogan {  
  margin: 0;
  margin-bottom: 10px;
  line-height: 22px;
}

.promo-block__timetable {
  margin: 0;
  padding-right: 16px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Clear Sans Bold", Arial, sans-serif;
  color: #3A4047;
}

.page-header__user-block {
  display: block;
  margin: 0;
  padding-top: 8px;
  text-decoration: none;
}

.page-header__user {
  margin-top: 4px;
  width: 14px;
  height: 15px;
  fill: #1ab0ce;
}

.page-header__user-block:hover  .page-header__user {
  fill: #0787a1;
}

.page-header__user-block:active  .page-header__user {
  fill: #99e9f9;
}

.page-header__user-block span {
  position: relative;
  top: -4px;
  width: 191px;
  margin-left: 1px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Clear Sans", Arial, sans-serif;
  color: #3A4047;
  text-decoration: underline;
}

.page-header__user-block:hover  span {
  color: #737171;
  text-decoration: none;
}

.page-header__user-block:active  span{
  color: #d0cece;
}

.page-header__part-down {
  display: flex;
}

.page-header__info {
  /*! display: -webkit-box; */
  /*! display: -ms-flexbox; */
  /*! display: flex; */
  /*! -webkit-box-orient: vertical; */
  /*! -webkit-box-direction: normal; */
      /*! -ms-flex-direction: column; */
          /*! flex-direction: column; */
  padding-top: 9px;
  margin-right: 17px;
}

.page-header__mail {
  position: relative;
  top: -2px;
  /*! left: 0px; */
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Clear Sans", Arial, sans-serif;
  color: #3a4047;
  text-decoration: underline;
}

.page-header__mail:hover {
  color: #737171;
  text-decoration: unone;
}

.page-header__mail:active {
  color: #d0cece;
}

.phone {
  position: relative;
}

.phone__social {
  position: absolute;
  top: 18px;
  left: 2px;
  width: 13px;
}

.phone__social  img {
  width: auto;
  height: 22px;
}

.phone__social  svg {
  fill: none;
  stroke: #3d76b9;
  width: 13px;
  height: 22px;
}

.phone__social:hover  svg {
  stroke: #16b1d1;
}

.phone__social:active  svg {
  stroke: #78e4f9;
}

.phone__number1 {
  margin: 0;
  padding-top: 14px;
  padding-left: 67px;
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 19px;
  font-family: "Clear Sans Bold", Arial, sans-serif;
  color: #3a4047;
  background: url("../img/phone.svg") 34px 18px no-repeat;
}

.phone__num {
}

.phone__btn {
  position: relative;
  top: 5px;
}

.phone__btn svg {
  width: 20px;
  height: 20px;
  fill: #ededed;
}
 
.phone__number1:hover .page-header__chevron-circle {
  fill: #d2d4d5;
}

.page-header__basket {
  position: relative;
  margin-top: 17px;
  text-align: center;
  text-decoration: none;
  /*! display: none; */
}

.page-header__basket svg {
  width: 48px;
  height: 48px;
  fill: none;
  stroke: #1ab0ce;
}

.page-header__basket:hover svg {
  stroke: #0787a1;
}

.page-header__basket:active svg {
  stroke: #99e9f9;
}

.page-header__basket-circle {
  position: absolute;
  top: -6px;
  left: 32px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #1ab0ce;
  border-radius: 50%;
}

.page-header__basket:hover .page-header__basket-circle {
  background-color: #0787a1;
}

.page-header__basket:active .page-header__basket-circle {
  background-color: #99e9f9;
}

.page-header__basket-number {
  position: relative;
  top: 3px;
  font-family: "Clear Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;   
}

.phone__numbers {
  display: none;
  position: absolute;
  top: 47px;
  left: 12px;
  width: 219px;
  padding: 29px 0px 16px 0px;
  background-color: #fff;
   -webkit-filter: drop-shadow(0 0 5px #b8b6b6);
           filter: drop-shadow(0 0 5px #b8b6b6);
}

.phone__numbers::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 6px;
  display: block;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.phone:hover .phone__numbers {
  display: block;
}

.phone__number {
  display: block;
  margin-bottom: 14px;
  padding: 4px 3px 4px 65px;
  text-align: left;
}

.phone__number2 {
  background: url("../img/phone-icon-2.svg") 29px 2px no-repeat;
}

.phone__number3 {
  background: url("../img/phone-icon-3.svg") 28px 0 no-repeat;
}

.phone__number4 {
  background: url("../img/phone-icon-4.svg") 29px 1px no-repeat;
}




/***    no-flexbox   ***/
.no-flexbox .page-header__top:after {
  content: " ";
  clear: both;
  display: table; 
}

.no-flexbox .logo {
  float: left;
}

.no-flexbox .promo-block {
  float: left;
}

.no-flexbox .page-header__user-block {
  float: left;
}

.no-flexbox .page-header__info {
  float: left;
}

.no-flexbox .page-header__basket {
  float: left;
}

@media screen and (max-width: 1169px) {
  .page-header__top {
    justify-content: space-between;
	/*! flex-wrap: wrap; */
  }
	
  .logo {
    margin-right: 8px;
  }
  
  .promo-block {
    max-width: 375px;
    margin-right: 12px;
  }
  
  .promo-block__slogan {
    margin-bottom: 10px;
  } 
  
  .page-header__part-down {
    /*! display: flex; */
  }
  
  .page-header__user-block span {
    /*! display: none; */
  }
 
  .page-header__info {
    margin-right: 11px;
  }

  .phone__social {
    left: 7px;
  }
  
  .phone__number1 {
  padding-left: 62px;
  font-size: 15px;
  background: url("../img/phone.svg") 34px 20px no-repeat;
  background-size: 20px auto;
}

  .page-header__basket {
     margin-right: 16px;
  }
  
  .page-header__basket svg {
    width: 45px;
    height: 45px;
  }
  
  .page-header__basket-circle {
    top: -5px;
    left: 31px;
	width: 29px;
    height: 29px;
  }
}

 @media screen and (max-width: 1060px) {
  .logo {
	min-width: 200px;
    margin-right: 0px;
  }
  
  .promo-block {
    margin-right: 19px;
  }
  
  .page-header__user-block {
    margin-right: 73px;
    padding-top: 4px;
  }
  
  .page-header__user-block span {
     margin-left: 5px;
  }

  .page-header__part-down {
    display: block;
  } 
  
  .page-header__info {
    position: relative;
    padding-top: 2px;
    margin-right: 1px;
  }
  
  .page-header__mail {
    margin-right: 71px;
    margin-bottom: 0px;
  }
  
  .phone__social {
    top: 7px;
    left: 6px;
  }
  
  .phone__number1 {
	margin-left: 3px;
    padding-top: 3px;
    background-size: 20px auto;
    background-position: 39px 8px;
  }
  
  .phone__number1 span {
	margin-left: 3px;
  }
  
  .phone__numbers {
	top: 47px;
    left: -3px;
	width: 214px;
    padding: 18px 0px 7px 0px;
	
  }
	
  .phone__number {
    margin-bottom: 14px;
    padding: 4px 3px 4px 63px;
  }
  
  .phone__number2 {
    background: url("../img/phone-icon-2.svg") 25px 2px no-repeat;
  }

  .phone__number3 {
    background: url("../img/phone-icon-3.svg") 25px 0 no-repeat;
  }

  .phone__number4 {
    background: url("../img/phone-icon-4.svg") 26px 1px no-repeat;
  }
  
  .page-header__basket {
    position: absolute;
	top: 7px;
    right: -1px;
  }
  
  .page-header__basket svg {
    width: 41px;
    height: 41px;
  }
  
  .page-header__basket-circle {
    top: -8px;
    left: 29px;
    width: 27px;
    height: 27px;
  }
}
