@font-face {
  font-weight: normal;
  font-family: "Clear Sans";
  font-style: normal;
  src: url("../fonts/ClearSans-Regular.ttf") format("ttf"), 
       url("../fonts/ClearSans-Regular.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Clear Sans Bold";
  font-style: normal;
  src: url("../fonts/ClearSans-Bold.ttf") format("ttf"), 
       url("../fonts/ClearSans-Bold.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Cuprum";
  font-style: normal;
  src: url("../fonts/Cuprum-Regular.woff2") format("woff2"), 
       url("../fonts/Cuprum-Regular.woff") format("woff");
}

body {
  font-size: 16px;
  line-height: 19px;
  font-family: "Clear Sans", Arial, sans-serif;
  color: #3A4047;
  background-color: #fff;
  text-align: right;
}

img {
  max-width: 100%;
  height: auto;
}

/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

/***  Header  ***/
.page-header__top {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); 
}

.page-header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%; 
  max-width: 1170px; 
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 9px;
}

.page-header__toggle {
  display: none;
}

.page-header .logo {
  min-width: 258px;
  margin-right: 63px;
}

.promo-block {
  max-width: 375px;
  margin: 0 49px 0 0;
  text-align: center; 
}

.promo-block__slogan {  
  margin: 0;
  margin-bottom: 10px;
  line-height: 22px;
}

.promo-block__timetable {
  margin: 0;
  padding-right: 16px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Clear Sans Bold", Arial, sans-serif;
  color: #3A4047;
}

.page-header__user-block {
  display: block;
  margin: 0;
  padding-top: 8px;
  text-decoration: none;
}

.page-header__user {
  margin-top: 4px;
  width: 14px;
  height: 15px;
  fill: #1ab0ce;
}

.page-header__user-block:hover  .page-header__user {
  fill: #0787a1;
  stroke: #0787a1;
}

.page-header__user-block:active  .page-header__user {
  fill: #99e9f9;
  stroke: #99e9f9;
}

.page-header__user-block span {
  position: relative;
  top: -4px;
  width: 191px;
  margin-left: 1px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Clear Sans", Arial, sans-serif;
  color: #3A4047;
  text-decoration: underline;
}

.page-header__user-block:hover  span {
  color: #737171;
  text-decoration: none;
}

.page-header__user-block:active  span{
  color: #d0cece;
}

.page-header__part-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__info {
  padding-top: 9px;
  margin-right: 17px;
}

.page-header__mail {
  position: relative;
  top: -2px; 
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Clear Sans", Arial, sans-serif;
  color: #3a4047;
  text-decoration: underline;
}

.page-header__mail:hover {
  color: #737171;
  text-decoration: none;
}

.page-header__mail:active {
  color: #d0cece;
}

.phone {
  position: relative;
}

.phone__social {
  position: absolute;
  top: 18px;
  left: 2px;
  width: 13px;
  height: 23px;
}

.phone__social  img {
  width: auto;
  height: 22px;
}

.phone__social  svg {
  fill: none;
  stroke: #3d76b9;
  width: 26px;
  height: 45px;
}

.phone__social:hover  svg {
  stroke: #16b1d1;
}

.phone__social:active  svg {
  stroke: #78e4f9;
}

.phone__number1 {
  margin: 0;
  padding-top: 14px;
  padding-left: 67px;
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 19px;
  font-family: "Clear Sans Bold", Arial, sans-serif;
  color: #3a4047;
  background: url("../img/phone.svg") 34px 18px no-repeat;
}

.phone__btn {
  position: relative;
  top: 5px;
  display: inline;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.phone__btn svg {
  width: 20px;
  height: 20px;
  fill: #d2cfcf;
}

.phone__btn:hover svg {
  fill: #a5a4a4;
}

.phone__btn:active svg {
  fill: #f0eeee;
}
 
.phone__number1:hover .page-header__chevron-circle {
  fill: #d2d4d5;
}

.page-header__basket {
  position: relative;
  margin-top: 17px;
  text-align: center;
  text-decoration: none;
}

.page-header__basket svg {
  width: 48px;
  height: 48px;
  fill: none;
  stroke: #1ab0ce;
}

.page-header__basket:hover svg {
  stroke: #0787a1;
}

.page-header__basket:active svg {
  stroke: #99e9f9;
}

.page-header__basket-circle {
  position: absolute;
  top: -6px;
  left: 35px;
  width: 28px;
  height: 28px;
  text-align: center;
  background-color: #1ab0ce;
  border-radius: 50%;
}

.page-header__basket:hover .page-header__basket-circle {
  background-color: #0787a1;
}

.page-header__basket:active .page-header__basket-circle {
  background-color: #99e9f9;
}

.page-header__basket-number {
  position: relative;
  top: 3px;
  font-family: "Clear Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;   
}

.phone__numbers {
  display: none;
  position: absolute;
  top: 47px;
  left: 6px;
  z-index: 1;
}

.phone__numbers-inner {
  position: relative;
  z-index: 10;
  width: 219px;
  padding: 29px 0px 16px 0px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 2px 3px #efeeee;
          box-shadow: 0px 0px 2px 3px #efeeee;   
}

.phone__numbers::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 6px;
  z-index: 20;
  display: block;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.phone__numbers::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 6px;
  z-index: 1;
  display: block;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
   -webkit-box-shadow: 0px 0px 2px 3px #efeeee;
           box-shadow: 0px 0px 2px 3px #efeeee; 
}

.phone__number {
  display: block;
  margin-bottom: 14px;
  padding: 4px 3px 4px 65px;
  text-align: left;
}

.phone__number2 {
  background: url("../img/phone-icon-2.svg") 29px 2px no-repeat;
}

.phone__number3 {
  background: url("../img/phone-icon-3.svg") 28px 0 no-repeat;
}

.phone__number4 {
  background: url("../img/phone-icon-4.svg") 29px 1px no-repeat;
}


/******   Main-menu   ******/
.main-nav {
   max-width: 1170px;
   margin: 0 auto; 
}
	
.main-nav__inner { 
  margin: 0;
  padding: 0; 
}

.main-nav__inner::after {
  content: " ";
  clear: both;
  display: table; 
}

.main-nav__item {
  position: relative;
  float: left;
  min-height: 23px; 
  padding-top: 18px;
  padding-bottom: 9px;
  padding-left: 2.5%;
  padding-right: 2.5%; 
  font-family: "Clear Sans Bold", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #3a4047;
  text-align: center;  
}

.main-nav__item:last-child { 
  float: right;
}

.main-nav__item:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 0;
  width: 100%;
  height: 1px;
  color: #1ab0ce;
  background-color: #1ab0ce;
}

.main-nav__item::after {
  content: "";
  display: block;
  position: absolute;
  top: 22px;
  right: 0;
  width: 1px;
  height: 13px;
  background-color: #e8efd2;
}

.main-nav__item:hover { 
  color: #1ab0ce;
} 

.main-nav__item:active  {
  border-color: #80e4f8;
  color: #80e4f8;
}

.main-nav__item:first-child  {
  padding-left: 0; 
} 

.main-nav__item:last-child  {
  padding-right: 0;
  text-align: right;
  padding-left: 1.0%;
}

.main-nav__item:last-child::after {
  width: 0;
}

.main-nav__item--search { 
  max-width: 22px;
  font-size: 0; 
}
 
.main-nav__item--search svg { 
  width: 22px;
  height: 20px;
  fill: none;
  stroke: #3A4047;
}

.main-nav__item--search:hover svg { 
  stroke: #1ab0ce;;
}

.main-nav__item:nth-of-type(1) span { 
  padding-right: 19px;
}

.main-nav__item:nth-of-type(2) span {
  padding-left: 4px;
  padding-right: 13px;
}

.main-nav__item:nth-of-type(3) span {
  padding-left: 5px;
  padding-right: 14px;
}

.main-nav__item:nth-of-type(4) span {
  padding-left: 5px;
  padding-right: 14px;
}

.main-nav__item:nth-of-type(5) span {
  padding-left: 4px;
  padding-right: 16px;
}

.main-nav__item:nth-of-type(6) span {
  padding-left: 3px;
  padding-right: 2px;
}

.main-nav__item:nth-of-type(7) span {
  padding-left: 5px;
  padding-right: 6px;
}


/*** main ***/

.main h2 {
  line-height: 42px;
  font-size: 36px;
  text-align: center;
  letter-spacing: -1px;
}

.order {
  width: 100%;
  min-height: 500px; 
  margin-bottom: 33px;  
  text-align: center;
  color: #fff;
  background-color: #bdbaba;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.order__promo {
  position: relative;
  margin: 0 0 38px 0;
  padding-top: 160px;
  font-size: 57px;
  font-family: "Clear Sans Bold";
  line-height: 60px;
}

.order__promo::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -21px;
  right: calc(50% - 60px);
  width: 120px;
  height: 2px;  
  background-color: #fff;
}

.order__text {
  margin: 0 0 36px 0;
  font-size: 24px;
  line-height: 30px;
}

.order__btn {
  padding: 11px 46px 14px;
  font-size: 16px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.3px;
  background-color: #1ab0ce;
  border-radius: 2px;
}

.order__btn:hover {
  background-color: #fff;
  color: #1ab0ce;
}

.order__btn:active {
  background-color: transparent;
  color: #fff;
}

.products {}

.products__title {
  margin: 0 0 43px 0;
}

.products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.products__item { 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box;
  width: 370px;
  margin-bottom: 15px;
  padding: 24px 0 7px 120px;
  text-align: left;  
  border: 1px solid #dce1e6;
  background-color: #fff;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.products__item--blank-page {
  background-image: url(../img/blank-page.svg);  
  background-position: 28px 25px;
}

.products__item--road-map {
  background-image: url(../img/road-map.svg);
  background-position: 33px 24px; 
}

.products__item--e-reader {
  background-image: url(../img/e-reader.svg);
  background-position: 39px 24px; 
}

.products__item-title {
  margin: 0;    
  margin-bottom: 23px;
  font-family: "Clear Sans Bold";
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: -0.4px; 
}

.products__item ul { 
  margin: 0;
  padding-left: 0;
  list-style: none; 
}

.products__item li {
  margin-bottom: 22px;
  width: 100%;
}

.products__item li::after {
  content: " ";
  clear: both;
  display: table; 
}

.products__item--two-col li {
  display: inline-block;
  width: 49%;
  margin-bottom: 19px;
}

.products__product {
  display: block;
  font-family: "Clear Sans";
  font-size: 14px;
  line-height: 14px;
  color: #3A4047;
  text-decoration: none;
  float: left;
}

.products__product:hover {
  color: #1ab0ce;
  text-decoration: underline;
}

.about {
  padding-top: 0;
  padding-bottom: 27px;
  border-bottom: 1px solid #e8edf2;
}

.about__title {
  margin: 21px 0 17px 0;
}

.about__slogan {
  margin-top: 0;
  margin-bottom: 32px;
  padding-left: 13px;
  padding-right: 13px;
  line-height: 24px;
  font-size: 24px;
  text-align: center;
}

.about__text {
  max-width: 1170px;
  line-height: 19px;
  font-size: 14px; 
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.news {
  text-align: center;
  padding-bottom: 47px;
}

.news__title {
  margin-top: 37px;
  margin-bottom: 54px;
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: justify; 
      -ms-flex-pack: justify; 
          justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 81px;
}

.news__item { 
  padding-top: 22px;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid #fff;
}

.news__item:hover {  
  -webkit-box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.05);  
          box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.05);
}

.news__data {
  line-height: 16px;
  font-size: 14px;
  color: #bec7d1; 
}

.news__content {
  max-width: 375px;
  margin-top: 14px;
  padding-left: 7px;  
  padding-right: 7px;
  line-height: 21px;
  font-size: 16px;
  color: #3a4047;;
}

.news__item:hover  .news__content{
  text-decoration: underline;
  color: #1ab0ce;
}

.news__btn {
  display: inline-block;
  margin: 0 auto;
  padding: 5px 23px 9px;  
  line-height: 16px;
  font-size: 14px; 
  text-decoration: none; 
  color: #1ab0ce;
  border: 2px solid #1ab0ce;
  border-radius: 2px; 
}

.news__btn:hover {
  background-color: #1ab0ce;
  color: #fff;
}


/***   footer   ***/
.page-footer {
  text-align: left;
  background: #fff url("../img/footer-bg.png") 0 0 repeat;
}

.page-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
}

.page-footer__col--logo {
  width: 25.55%;
  padding-top: 19px; 
}

.page-footer .page-footer__col--slogan {
  width: 20%;
  margin-right: 0;
}

.page-footer__col--menu {
  width: 32%;
}

.page-footer__col--contacts {
  width: 19%;
  padding-top: 10px;
  text-align: right;
}

.page-footer .logo {  
  margin-bottom: 10px; 
}

.page-footer__copyright-left {  
  line-height: 16px;
  font-size: 14px; 
}

.page-footer .promo-block {
  width: 23.6%;
  padding-top: 27px;
  padding-left: 0px;
  text-align: left;
  line-height: 21px;
  font-size: 14px; 
}

.promo-block__slogan--footer{
  line-height: 21px;
  margin-bottom: 21px;
  letter-spacing: 0.2px;
}

.page-footer  .promo-block__timetable {
  padding-right: 0;
  font-family: "Clear Sans", Arial, sans-serif;
  color: #3a4047;
}

.page-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 29px;
  padding-left: 0;
  list-style: none;
}

.page-footer__nav li {
  width: 50%;
  margin-bottom: 16px;
  margin-right: 0%;
}

.page-footer__nav-item {
  margin-left: 23%;
  font-size: 14px;
  line-height: 21px;
  font-family: "Roboto", Arial, sans-serif;
  color: #3a4047;
}

.page-footer__nav-item:hover {
  color: #1ab0ce;
  text-decoration: none;
}

.page-footer__nav-item:active {
    color: #d0cece;
}

.phone--footer {
  padding-top: 0;
  margin-bottom: 16px;
}

.phone__num--footer {
  position: relative;
  display: inline-block;
  padding-right: 3px;
}

.phone__num--footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 139px;
  display: block;
  width: 22px;
  height: 22px;
  padding-right: 3px;
  background: url("../img/phone.svg") 0 0 no-repeat;
}


.page-footer .phone__social {
  left: auto;
  right: 210px;
}

.phone--footer .phone__number1 {
  padding-left: 0;
  background-image: none;
}

.page-footer__contacts {
  display: block;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 21px;
  font-family: "Roboto", Arial, sans-serif;
  color: #3a4047;
}

.page-footer__contacts:hover    {
  color: #1ab0ce;
  text-decoration: none;
}

.page-footer__contacts:active  {
    color: #d0cece;
}

.page-footer__copyright-right {
  position: relative;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 13px;
  font-size: 11px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  color: #3a4047;
  letter-spacing: 0.1px;
}

.page-footer__copyright-right:before {
  content: "";
  position: absolute;
  top: 2px;
  right: 131px;
  display: block;
  width: 17px;
  height: 16px;
  padding-right: 3px;
  background: url("../img/glyanec.png") 0 0 no-repeat;
}




/******                 ******/
/******    no-flexbox   ******/
/******                 ******/
.no-flexbox.no-flexboxtweener .page-header__top-inner {
  text-align: left; 
}

.no-flexbox.no-flexboxtweener .page-header__top-inner:after {
  content: " ";
  clear: both;
  display: table; 
}

.no-flexbox.no-flexboxtweener .logo { 
  width: 258px;
  display: inline-block;
  vertical-align: top;
  margin-right: 59px;
}

.no-flexbox.no-flexboxtweener .promo-block { 
  display: inline-block;
  vertical-align: top;
  margin-right: 45px;
}

.no-flexbox.no-flexboxtweener .page-header__part-down{ 
  min-width: 258px;
  display: inline-block;
  vertical-align: top;
}

.no-flexbox.no-flexboxtweener .page-header__user-block { 
  display: inline-block;
  vertical-align: top;
}

.no-flexbox.no-flexboxtweener .page-header__info { 
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin-right: 14px;
}

.no-flexbox.no-flexboxtweener .phone__social {
  left: -3px;
}

.no-flexbox.no-flexboxtweener .phone__number1 {
  padding-left: 62px;
  background-position: 29px 18px;
}

.no-flexbox.no-flexboxtweener .page-header__basket {
  display: inline-block;
  vertical-align: top;
}

.no-flexbox.no-flexboxtweener .page-header__basket-circle {
  left: 35px;
  bottom: 27px;
}

.no-flexbox.no-flexboxtweener .products__content {
  text-align: center;
}

.no-flexbox.no-flexboxtweener  .products__item {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}

.no-flexbox.no-flexboxtweener .products__item--two-col li {
  display: block;
  width: 100%;
  margin-bottom: 19px;
}

.no-flexbox.no-flexboxtweener .news__item {
  display: block;
  width: 33.3%;
}

.no-flexbox.no-flexboxtweener .page-footer__col {
  display: inline-block;
  vertical-align: top;
}

.no-flexbox.no-flexboxtweener .page-footer__nav {
  display: block;
}

.no-flexbox.no-flexboxtweener  .page-footer__col--menu {
  width: 24%;
}

.no-flexbox.no-flexboxtweener  .page-footer__nav li {
  width: 100%;
  margin-bottom: 4px;
}
 

 
/******                 ******/
/******    @media       ******/
/******                 ******/

@media screen and (max-width: 1184px) {
  .page-header__top-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
  }
	
  .page-header .logo {
    margin-right: 8px;
  }
  
  .promo-block {
    max-width: 375px;
    margin-right: 12px;
  }
  
  .promo-block__slogan {
	margin-top: 3px;
    margin-bottom: 10px;
    font-size: 15px;
  } 
  
  .page-header__mail {
    top: -2px;
	left: 0;
  }
 
  .page-header__info {
    margin-right: 11px;
  }

  .phone__social {
    left: 0px;
    top: 14px;
  }
  
  .phone__number1 {
    padding-top: 6px;
    padding-left: 41px;
    font-size: 15px;
    background: url("../img/phone.svg") 20px 16px no-repeat;
    background-size: 20px auto;
  }
  
  .phone__num {
    position: relative;
	left: 2px;
  }
  
  .phone__numbers-inner {
    width: 217px;
  }
  
  .phone__btn {
    right: -5px;
    padding: 4px;
  }

  .page-header__basket {
     margin-right: 16px;
  }
  
  .page-header__basket svg {
    width: 45px;
    height: 45px;
  }
  
  .page-header__basket-circle {
    width: 29px;
    height: 29px;
  }
  
  .main-nav {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
  }
  
  .main-nav__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .main-nav__item {
    
  }
  
  .main-nav__item:nth-of-type(1) span {
    
    padding-right: 0;
  }

  .main-nav__item:nth-of-type(2) span {
    padding-left: 0;
    padding-right: 0;
  }

  .main-nav__item:nth-of-type(3) span {
    padding-left: 0;
    padding-right: 0;
  }

  .main-nav__item:nth-of-type(4) span {
    padding-left: 4px;
    padding-right: 9px;
  }

  .main-nav__item:nth-of-type(5) span {
    padding-left: 4px;
    padding-right: 8px;
  }

  .main-nav__item:nth-of-type(6) span {
    padding-left: 2px;
    padding-right: 2px;
  }

  .main-nav__item:nth-of-type(7) span {
    padding-left: 2px;
    padding-right: 6px;
  }
  
  .order {
    min-height: 470px;
	background-size: auto 470px;
  }
  
  .order__promo {
    font-size: 46px;
    padding-top: 133px;
  }
  
  .products__content {
    padding-left: 10px;
	padding-right: 10px;
  }
  
  .products__item {
    width: 347px;
    padding-left: 115px;
  }
  
  .products__item--road-map {
    background-position: 28px 24px;
  }
  
  .products__item--e-reader {
    background-position: 36px 24px;;
  }
  
  .about__text {
    padding-left: 13px;
	padding-right: 13px;
  }
  
  .page-footer__inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .page-footer .promo-block {
    padding-top: 15px;
  }
    
  .promo-block__slogan--footer{
    margin-bottom: 22px;
  }
  
  .page-footer__nav {
    margin-top: 19px;
  }
  
  .page-footer__nav li { 
    margin-bottom: 7px; 
  }
  
  .page-footer__col--contacts { 
    padding-top: 15px;
  }
  
  .phone--footer {
    margin-bottom: 14px;
  }
  
  .page-footer .phone__btn {
    right: 0;
  }
  
  .phone__num--footer::before {
    right: 129px;
  }
  
  .page-footer__contacts {
    margin-bottom: 21px;
  }
  
  .no-flexbox.no-flexboxtweener .page-header__top-inner {
	 position: relative;
	 background-color: red;
  }
  
  .no-flexbox.no-flexboxtweener .page-header__part-down {
    position: absolute;
	top: 12px;
	right: 0;
  }
  
  .no-flexbox.no-flexboxtweener .page-header__user-block {
    position: relative;
	left: 16px;
  }
  
  .no-flexbox.no-flexboxtweener .page-header__user-block span {
	display: none;
  }
  
  .no-flexbox.no-flexboxtweener .page-header__basket {
	right: 5px;
  }
  
   
}


 @media screen and (max-width: 1080px) {
  .page-header .logo {
	min-width: 200px;
    margin-right: 0px;
  }
  
  .promo-block {
    margin-right: 2px;
  }
  
  .page-header__user-block {
    margin-right: 73px;
    padding-top: 4px;
  }
  
  .page-header__user-block span {
     margin-left: 5px;
  }

  .page-header__part-down {
    display: block;
  } 
  
  .page-header__info {
    position: relative;
  }
  
  .page-header__mail {
    margin-right: 61px;
    margin-bottom: 0px;
  }
  
  .phone__social {
    top: 9px;
    left: 0px;
  }
  
  .phone__number1 {
	margin-left: 3px;
    padding-top: 3px;
    background-size: 20px auto;
    background-position: 32px 12px;
  }
  
  .phone__number1 span {
	margin-left: 3px;
	font-size: 14px;
  }
  
  .phone__numbers {
	top: 27px;
    left: -3px;
	width: 214px;
    padding: 18px 0px 7px 0px;	
  }
  
  .phone__numbers-inner {
    top: -18px;
	padding-top: 20px;
    padding-bottom: 10px;
    width: 214px;
  }
	
  .phone__number {
    margin-bottom: 14px;
    padding: 4px 3px 4px 63px;
  }
  
  .phone__number2 {
    background: url("../img/phone-icon-2.svg") 25px 2px no-repeat;
  }

  .phone__number3 {
    background: url("../img/phone-icon-3.svg") 25px 0 no-repeat;
  }

  .phone__number4 {
    background: url("../img/phone-icon-4.svg") 26px 1px no-repeat;
  }
  
  .page-header__basket {
    position: absolute;
	top: 7px;
    right: 7px;
  }
  
  .page-header__basket svg {
    width: 41px;
    height: 41px;
  }
  
  .page-header__basket-circle {
    top: -8px;
    left: 29px;
    width: 27px;
    height: 27px;
  }
  
  .main-nav__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .main-nav__item  {
	padding-bottom: 0;
	padding-left: 3.5%;
	padding-right: 3.5%;
  }
  
  .main-nav__item:last-child {
    padding-left: 3%;
  }
  
  .main-nav__item:hover::before {
    display: none;
  }
  
  .order {
    min-height: 410px; 
	background-size: auto 410px;
  }
  
  .order__promo {
    font-size: 41px;
    padding-top: 110px;
  }
  
  .products__item {
    width: 317px;
    padding-left: 101px;
    background-size: auto 13%;
  }
  
  .products__item--road-map {
    background-position-x: 26px;
  }
  
  .products__item--e-reader {
    background-position-x: 33px;;
  }
  
  .page-footer__col--logo {
    width: 25.55%;
    margin-right: 1%;
    padding-top: 15px;
  }
  
  .page-footer__col--logo img {
    width: 205px;
  }
  
  .promo-block__slogan--footer {
    margin-bottom: 22px;
  }

  .page-footer__nav li {
    margin-bottom: 7px;
  }
  
  .page-footer__col--contacts {
    padding-top: 11px;
  }
  
  .page-footer__nav-item {
    margin-left: 19%;
  }
  
  .phone--footer .phone__social {
    top: 11px;
    left: auto;
    right: 188px;
  }
  
  .phone__num--footer::before {
    right: 120px;
  }
  
  
  .no-flexbox.no-flexboxtweener .page-header__top-inner {
	background-color: lightgreen;
  }
  
  .no-flexbox.no-flexboxtweener .page-header__user-block {
    margin-right: 0px;
	top: 5px;
  }
  
  .no-flexbox.no-flexboxtweener .page-header__info {
	margin-top: 2px;
	margin-right: 68px;
  }
  
  .no-flexbox.no-flexboxtweener .page-header__mail {
    margin-right: 5px;
  }
  
  .no-flexbox.no-flexboxtweener .phone__social {
    top: 5px;
  }
  
  .no-flexbox.no-flexboxtweener .phone__number1 {
	margin-top: 10px;
    padding-left: 62px;
    background-position: 29px 7px;
  }
 
  .no-flexbox.no-flexboxtweener .phone__btn {
	padding-left: 6px;
  }
  
  .no-flexbox.no-flexboxtweener .main-nav__item { 
    padding-left: 1.5%;
    padding-right: 1.5%;
  }
  
  .no-flexbox.no-flexboxtweener .main-nav__item:last-child {
     float: left;
  }
}

@media screen and (max-width: 1000px) {  
  .main-nav__inner  a.main-nav__item--search  {
    padding-left: 17px;
  }
  
  .order {
    min-height: 390px;
	background-size: auto 390px;
  }
  
  .order__promo {
    font-size: 37px;
    padding-top: 93px;
  }
  
  .order__text {
    font-size: 24px;
  }
  
  .products__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .products__item {
    width: 390px;
    padding-left: 120px;
    background-size: auto 19%;
  }
  
  .page-footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .page-footer .page-footer__col--logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
	width: 33%;
  }
  
  .page-footer .page-footer__col--logo img {
    width: 187px;
  }


  .page-footer .page-footer__col--slogan {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
	width: 33%;
    padding-top: 20px;
  }

  .page-footer__col--menu {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
	width: 100%;
  }
  
  .page-footer__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .page-footer__nav li {
    width: auto;
  }
  
  .page-footer__nav-item {
    margin-left: 0;
    padding: 25px;
  }

  .page-footer__col--contacts {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
	width: 32%;
    padding-top: 14px;
  }

  .no-flexbox.no-flexboxtweener .page-header__top-inner {
	background-color: lightblue;
  }
  
  .no-flexbox.no-flexboxtweener .logo {
    width: 258px;
    margin-right: 5%;
  }
 
  .no-flexbox.no-flexboxtweener .promo-block {
    max-width: 236px;
  }
  
  .no-flexbox.no-flexboxtweener .promo-block__timetable {
	padding-right: 0;
  }
  
  .no-flexbox.no-flexboxtweener .page-footer .page-footer__col--logo {
    width: 25%;
  }
  
  .no-flexbox.no-flexboxtweener .page-footer__col--slogan {
	max-width: 27%;
	margin-right: 45px;
  }
  
  .no-flexbox.no-flexboxtweener .page-footer__col--menu {
    width: 21%;
  }
  
  .no-flexbox.no-flexboxtweener .page-footer__col--contacts {
    width: 20%;
  }
  
  .no-flexbox.no-flexboxtweener .page-footer .phone__number1 {
    min-width: 160px;
	padding-left: 0px;
  }
  
  .no-flexbox.no-flexboxtweener  .phone__num--footer::before {
	display: none;
  }
}


@media screen and (max-width: 900px) {
  .page-header__top-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
	padding-left: 17px;
    padding-right: 17px;
  }

  .page-header .logo {
    width: 240px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .promo-block {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-right: 105px;
    text-align: left;
  }
  
  .promo-block__timetable {
	padding-right: 0;
  }
 
  .page-header__part-down {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  
  .page-header__user-block span {
    display: none;
  }
  
  .page-header__user {
    width: 21px;
    height: 21px;
	margin-top: -4px;
    stroke: #1ab0ce;;
	stroke-width: 0.5px;
  }
 
  .page-header__user-block {
    margin-right: 45px;
    margin-bottom: 9px;
  }
  
  .page-header__info {
     margin-right: 0px;
  }
  
  .phone__social {
    top: -62px;
    left: 89px;
  }
 
  .phone__social svg {
    stroke: #1ab0ce;
  }
  
  .phone__social:hover svg {
    stroke: #0787a1;
  }
  
  .phone__social:active svg {
    stroke: #99e9f9;
  }
  
  .page-header__mail {
    margin-right: 3px;
  }
  
  .phone__number1 {
    background-position-x: 19px;
  }
  
  .phone__numbers {
    z-index: 10;
  }
 
  .page-header__basket {
    top: -3px;
    right: -1px;
  }
 
  .page-header__basket svg {
    width: 26px;
    height: 26px; 
  }
  
  .page-header__basket-circle {
     display: none;
  }
  
  .order__btn {
    padding: 8px 40px 11px;
  }
  
  .main h2 {
    line-height: 40px;
    font-size: 33px;
  }
  
  .order {
    min-height: 345px;
	background-size: auto 345px;
  }
  
  .order__promo {
    font-size: 32px;
    padding-top: 74px;
    margin-bottom: 27px;
  }
  
  .order__promo::after {
    bottom: -12px;
  }
  
  .order__text {
    margin-bottom: 36px;
    font-size: 22px;
  }
  
  .news__title {
    margin-top: 22px;
    margin-bottom: 15px;
  }
  
  .news__item {
    padding-top: 0;
  }
  
  .news__list {
    display: block;
    padding-bottom: 25px;
  }
  
  .news__content {
    max-width: 100%;
    margin-bottom: 33px;
    text-align: justify;
  }
  
  .news__item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
   }
   
   .news__item:hover  .news__data {
	  color: #a4d8f2;
   }
   
   .page-footer .page-footer__col--slogan {
    padding-right: 0;
    position: relative;
  }
}

@media screen and (max-width: 830px) {
  .products__content {
    display: block;
  }
  
  .main h2 {
    margin-bottom: 24px;
  }
  
  .products__item {
    width: 400px;
    background-size: auto 22%;
    margin-left: auto;
    margin-right: auto;
    padding: 29px 0 10px 125px;
  }
  
  .products__item--blank-page {
    background-position: 33px 31px;
  }
  
  .products__item--road-map {
    background-position: 34px 31px;
  }
  
  .products__item--e-reader {
    background-position: 35px 31px;;
    background-size: auto 23%;
  }
  
  .order {
	margin-bottom: 15px;
  }
  
  .page-footer__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
  
  .page-footer .page-footer__col--logo {
    width: 35%;
    padding-left: 10px;
  }
  
  .page-footer .page-footer__col--slogan {
    width: 250px;
    padding-right: 10px;
  }
  
  .promo-block__slogan--footer {
    margin-bottom: 9px;
  }
  
  .page-footer .promo-block__timetable {
    font-size: 13px;
  }
  
  .page-footer__col--menu {
    background-color: #e3e1de;
  }
  
  .page-footer__col--contacts {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .phone--footer {
    position: relative;
	top: -10px;
    margin-bottom: 0;
    padding-left: 54px;
  }
  
  .page-footer__copyright-right {
    padding-right: 15px;
  }
  
  .page-footer__copyright-right::before {
    right: 151px;
  }
}


@media screen and (max-width: 710px) {
  .order {
    min-height: 310px;
	background-size: auto 310px;
  }
  
  .order__promo {
	margin: 0 auto 27px auto;
	padding-top: 67px;
	line-height: 39px;
    font-size: 26px;     
  }
  
  .order__promo::after {
    bottom: -17px;
  }
}
  
  

@media screen and (max-width: 560px) {
   .page-header__top-inner {
	display: block;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: relative;
	padding-top: 10px;
	padding-bottom: 12px;
	padding-left: 0;
	padding-right: 0;
	background-color: #fff;
  }
  
  .page-header__toggle {
	position: absolute;
	top: 12px;
	right: 8px;
    display: block;
	padding: 3px 6px;
    background-color: #fff;
	border: 0; 
	cursor: pointer;
  }
  
  .page-header__toggle--plus {
	display: none;
	right: 0;
    display: none;
	padding: 10px 10px;
	border-top: 2px solid #d8d5d5;
    background-color: #f0f0f0;
    -webkit-box-shadow: 0 0 0px 5px #fff;
            box-shadow: 0 0 0px 5px #fff;
  }
  
  .page-header__toggle  svg{
    width: 20px;
	height: 14px;
	stroke: #1ab0ce;
  }
  
  .page-header__toggle:hover svg {
	stroke: #0787a1;
  }
  
  .page-header__toggle--plus svg {
    width: 16px;
    height: 16px;
  }
  
  .page-header__toggle:active svg {
	stroke: #99e9f9;
  }

  .page-header .logo {
	min-width: 50px;
    width: 124px;
	margin-left: 10px;
  }

  .promo-block {
    max-width: 390px;
	margin: 0 auto;
	margin-bottom: 5px;
    padding-right: 0px;
    text-align: center;
  }
  
  .promo-block__slogan {
	margin-bottom: 9px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
  }
  
  .promo-block__timetable {
	position: static;
	width: 100%;
	margin: 0 auto;
	padding-right: 0;
	text-align: center;
  }
  
  .page-header__user {
    width: 16px;
    height: 16px;
  }
 
  .page-header__user-block {
    position: absolute;
    top: 12px;
    right: 39px;
   }
  
  .page-header__info {
    display: none;
    position: absolute;
    top: 51px;
    width: 100%;
    text-align: left;
    background-color: #f0f0f0;
    border-bottom: 2px solid #d8d5d5;
    border-top: 2px solid #d8d5d5;
  }
  
  .page-header__mail {
    margin-right: 0;
	margin-bottom: 5px;
	margin-left: 15px;
    position: static;
    display: block;
  }
  
  .phone {
    padding-bottom: 7px;
    margin-left: 7px;
  }
  
  .phone__social {
    top: 6px;
    left: 7px;
  }
 
  .phone__social svg {
    stroke: #3d76b9;
  }
  
  .phone__social:hover svg {
    stroke: #2fb4d0;
  }
  
  .phone__social:active svg {
    stroke: #99e9f9;
  }
  
  .phone__number1 {
    background-position: 36px 8px;
    padding-left: 68px;
  }
  
  .phone__btn {
    left: 3px;
  }
  
  .phone__numbers {
    top: 27px;
    left: 8px;
    width: 208px;
    padding: 13px 0px 1px 0px;
  }
  
  .phone__numbers-inner {
    top: -12px;
  }
  
  .phone__number {
    padding-left: 61px;
  }
  
  .phone__number2 {
	position: relative;
	z-index: 10;
    background-position: 22px 2px;
  }

  .phone__number3 {
    background-position: 22px 0;
  }

  .phone__number4 {
    background-position: 23px 1px;
  }
 
  .page-header__basket {
    top: -3px;
    right: 40px;
   }
 
  .page-header__basket svg {
    width: 18px;
    height: 18px;
  }
  
  .page-header__basket-circle {
     display: none;
  }
  
  .main-nav {
    display: none;
    position: absolute;
	top: 120px; 
    width: 100%;
	padding-left: 0;
	padding-right: 0;
  }
  
  .main-nav__inner {
	background-color: #f0f0f0;	
  }
  
  .main-nav__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 8px;
	border-top: 2px solid #d8d5d5;
    border-bottom: 2px solid #d8d5d5;
  }
  
  .main-nav__item {
    text-align: left;
    padding-left: 15px;
  }
  
  .main-nav__item:first-child {
	padding-left: 15px;
  }
    
  .main-nav__item:last-child {
    position: relative;
	max-width: 100%;
	padding-top: 30px;
	text-align: left;
  }
  
  .main-nav__item:hover::before {
    display: none;
  }
  
  .main-nav__item--search::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #d8d5d5;
  }

  .main-nav__item--search:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #d8d5d5;
  }
  
  .order {
    position: relative;
    min-height: 355px;
	background-size: auto 355px;
    background-position: 56% 0;
  }
    
  .order__promo {
	width: 279px;
	margin-bottom: 44px;
	padding-top: 41px;
	line-height: 39px;
    font-size: 26px;     
  }
  
  .order__promo::after {
    bottom: -24px;
  }
  
  .order__text {
    width: 219px;
	margin-left: auto;
	margin-right: auto;
    font-size: 20px;
  }
  
  .products__content {    
    padding-left: 0;
    padding-right: 0;
  }
  
  .products__item {
    width: 100%; 
	margin-bottom: 0;
    padding: 29px 0 10px 31%;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
	background-image: none;
  }
  
  .products__item  ul {
	position: relative;
  }
  
  .products__item  ul::before {
    content: "";
	display: block;
	position: absolute;
	top: -38px;
	left: -71px;
	width: 69px;
	height: 70px;
	background-repeat: no-repeat;
    background-size: auto 52px;
  }
  
  .products__item--blank-page ul::before {
	background-image: url(../img/blank-page.svg);
  }
  
  .products__item--road-map ul::before{
	left: -75px;
	background-image: url(../img/road-map.svg);
  }
  
  .products__item--e-reader ul::before{
	left: -62px;
	background-image: url(../img/e-reader.svg);
  }
  
  .products__item--two-col li {
    width: 100%;
  }
  
  .news__list {
    padding-bottom: 11px;
  }
  
  .page-footer .page-footer__col--logo {
    width: auto;
  }
  
  .page-footer__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .page-footer__nav li {
    width: 50%;
  }
  
  .page-footer__contacts {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 90%;
    text-align: left;
    padding-left: 13px;
  }
  
  .phone--footer {
    padding-bottom: 0;
  }
  
  .page-footer__copyright-right {
    position: relative;
	top: 3px;
  }  
}

@media screen and (max-width: 530px) {

  .page-footer__inner {
    display: block;
  }
  
  .page-footer .page-footer__col--slogan {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
  }
  
  .page-footer .promo-block {
	max-width: 100%;
  }
  
  .promo-block__slogan--footer {
    margin-bottom: 14px;
  }
  
  .page-footer .promo-block__timetable {
    text-align: left;
    padding-left: 10px;
    width: auto;
  }
  
  .page-footer__nav {
    padding-top: 10px;
	padding-bottom: 10px;
  }
  
  .page-footer__nav-item {
    padding: 11px;
  }
  
  .page-footer__col--contacts {
    padding-top: 0;
    padding-bottom: 19px;
  }
  
  .page-footer__contacts {
    margin-bottom: 12px;
  }
  
  .page-footer__copyright-right {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-left: 34px;
 }
}

@media screen and (min-width: 561px) {
  button.page-header__toggle--plus {
    display: none;
  }
}



/***                    ***/
/***    modal-content   ***/
/***                    ***/
.modal-content-show {
  display: block;
}

.modal-order {
  z-index: -1;
}

 

