@font-face {
  font-weight: normal;
  font-family: "Clear Sans";
  font-style: normal;
  src: url("../fonts/ClearSans-Regular.ttf") format("ttf"), 
       url("../fonts/ClearSans-Regular.woff") format("woff");
}

@font-face {
  font-weight: normal;
  font-family: "Clear Sans Bold";
  font-style: normal;
  src: url("../fonts/ClearSans-Bold.ttf") format("ttf"), 
       url("../fonts/ClearSans-Bold.woff") format("woff");
}

body {
  font-size: 16px;
  line-height: 19px;
  font-family: "Clear Sans", Arial, sans-serif;
  color: #3A4047;
  background-color: #fff;
  text-align: right;
}

img {
  max-width: 100%;
  height: auto;
}

/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}*/

/***  Header  ***/
.page-header {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); 
}

.page-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%; 
  max-width: 1170px; 
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 10px;
  /*! padding-left: 10px; */
  /*! padding-right: 10px; */
  background: #f9e9e9;
}

.page-header__toggle {
  display: none;
}

.logo {
  min-width: 258px;
  margin-right: 63px;
}

/*.logo svg {
  width: 258px; 
  height: 77px;
  padding-left: 2px;
}*/

.promo-block {
  max-width: 375px;
  margin: 0 49px 0 0;
  text-align: center;
  /*! order: 2; */
}

.promo-block__slogan {  
  margin: 0;
  margin-bottom: 10px;
  line-height: 22px;
}

.promo-block__timetable {
  margin: 0;
  padding-right: 16px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Clear Sans Bold", Arial, sans-serif;
  color: #3A4047;
}

.page-header__user-block {
  display: block;
  margin: 0;
  padding-top: 8px;
  text-decoration: none;
}

.page-header__user {
  margin-top: 4px;
  width: 14px;
  height: 15px;
  fill: #1ab0ce;
}

.page-header__user-block:hover  .page-header__user {
  fill: #0787a1;
  stroke: #0787a1;
}

.page-header__user-block:active  .page-header__user {
  fill: #99e9f9;
  stroke: #99e9f9;
}

.page-header__user-block span {
  position: relative;
  top: -4px;
  width: 191px;
  margin-left: 1px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Clear Sans", Arial, sans-serif;
  color: #3A4047;
  text-decoration: underline;
}

.page-header__user-block:hover  span {
  color: #737171;
  text-decoration: none;
}

.page-header__user-block:active  span{
  color: #d0cece;
}

.page-header__part-down {
  display: flex;
}

.page-header__info {
  /*! display: -webkit-box; */
  /*! display: -ms-flexbox; */
  /*! display: flex; */
  /*! -webkit-box-orient: vertical; */
  /*! -webkit-box-direction: normal; */
      /*! -ms-flex-direction: column; */
          /*! flex-direction: column; */
  padding-top: 9px;
  margin-right: 17px;
}

.page-header__mail {
  position: relative;
  top: -2px;
  /*! left: 0px; */
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Clear Sans", Arial, sans-serif;
  color: #3a4047;
  text-decoration: underline;
}

.page-header__mail:hover {
  color: #737171;
  text-decoration: unone;
}

.page-header__mail:active {
  color: #d0cece;
}

.phone {
  position: relative;
}

.phone__social {
  position: absolute;
  top: 18px;
  left: 2px;
  width: 13px;
  height: 23px;
}

.phone__social  img {
  width: auto;
  height: 22px;
}

.phone__social  svg {
  fill: none;
  stroke: #3d76b9;
  width: 26px;
  height: 45px;
}

.phone__social:hover  svg {
  stroke: #16b1d1;
}

.phone__social:active  svg {
  stroke: #78e4f9;
}

.phone__number1-wrapper {
  /*! background-color: green; */ 
}

.phone__number1 {
  margin: 0;
  padding-top: 14px;
  padding-left: 67px;
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 19px;
  font-family: "Clear Sans Bold", Arial, sans-serif;
  color: #3a4047;
  background: url("../img/phone.svg") 34px 18px no-repeat;
}

.phone__num {
}

.phone__btn {
  position: relative;
  top: 5px;
}

.phone__btn svg {
  width: 20px;
  height: 20px;
  fill: #ededed;
}
 
.phone__number1:hover .page-header__chevron-circle {
  fill: #d2d4d5;
}

.page-header__basket {
  position: relative;
  margin-top: 17px;
  text-align: center;
  text-decoration: none;
}

.page-header__basket svg {
  width: 48px;
  height: 48px;
  fill: none;
  stroke: #1ab0ce;
}

.page-header__basket:hover svg {
  stroke: #0787a1;
}

.page-header__basket:active svg {
  stroke: #99e9f9;
}

.page-header__basket-circle {
  position: absolute;
  top: -6px;
  left: 32px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #1ab0ce;
  border-radius: 50%;
}

.page-header__basket:hover .page-header__basket-circle {
  background-color: #0787a1;
}

.page-header__basket:active .page-header__basket-circle {
  background-color: #99e9f9;
}

.page-header__basket-number {
  position: relative;
  top: 3px;
  font-family: "Clear Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;   
}

.phone__numbers {
  display: none;
  position: absolute;
  top: 60px;
  left: 13px;
  width: 219px;
  padding: 29px 0px 16px 0px;
  background-color: #fff;
   -webkit-filter: drop-shadow(0 0 5px #b8b6b6);
           filter: drop-shadow(0 0 5px #b8b6b6);
}

.phone__numbers::after {
  content: "";
  position: absolute;
  top: -4px;
  right: 6px;
  z-index: 1;
  display: block;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.phone__number1-wrapper:hover .phone__numbers {
  display: block;
}

.phone__number {
  display: block;
  margin-bottom: 14px;
  padding: 4px 3px 4px 65px;
  text-align: left;
}

.phone__number2 {
  background: url("../img/phone-icon-2.svg") 29px 2px no-repeat;
}

.phone__number3 {
  background: url("../img/phone-icon-3.svg") 28px 0 no-repeat;
}

.phone__number4 {
  background: url("../img/phone-icon-4.svg") 29px 1px no-repeat;
}




/***    no-flexbox   ***/
.no-flexbox .page-header__top:after {
  content: " ";
  clear: both;
  display: table; 
}

.no-flexbox .logo {
  float: left;
  min-width: 258px;
}

.no-flexbox .promo-block {
  float: left;
}

.no-flexbox .page-header__user-block {
  float: left;
}

.no-flexbox .page-header__info {
  float: left;
}

.no-flexbox .page-header__basket {
  float: left;
}


@media screen and (max-width: 1182px) {
  .page-header__top {
    justify-content: space-between;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
  }
	
  .logo {
    margin-right: 8px;
  }
  
  .promo-block {
    max-width: 375px;
    margin-right: 12px;
  }
  
  .promo-block__slogan {
	margin-top: 3px;
    margin-bottom: 10px;
    font-size: 15px;
  } 
  
  .page-header__part-down {
    /*! display: flex; */
  }
  
  .page-header__user-block span {
    /*! display: none; */
  }
 
  .page-header__info {
    margin-right: 11px;
  }

  .phone__social {
    left: 7px;
  }
  
  .phone__number1 {
  padding-left: 62px;
  font-size: 15px;
  background: url("../img/phone.svg") 34px 20px no-repeat;
  background-size: 20px auto;
}

  .page-header__basket {
     margin-right: 16px;
  }
  
  .page-header__basket svg {
    width: 45px;
    height: 45px;
  }
  
  .page-header__basket-circle {
    top: -5px;
    left: 31px;
	width: 29px;
    height: 29px;
  }
}


 @media screen and (max-width: 1080px) {
  .logo {
	min-width: 200px;
    margin-right: 0px;
  }
  
  /*.logo svg {
	width: 249px;
	padding-left: 0;
  }*/
  
  .promo-block {
    margin-right: 2px;
  }
  
  .page-header__user-block {
    margin-right: 73px;
    padding-top: 4px;
  }
  
  .page-header__user-block span {
     margin-left: 5px;
  }

  .page-header__part-down {
    display: block;
  } 
  
  .page-header__info {
    position: relative;
    /*! padding-top: 2px; */
    /*! margin-right: 1px; */
  }
  
  .page-header__mail {
    margin-right: 61px;
    margin-bottom: 0px;
  }
  
  .phone__social {
    top: 7px;
    left: 6px;
  }
  
  .phone__number1 {
	margin-left: 3px;
    padding-top: 3px;
    background-size: 20px auto;
    background-position: 39px 8px;
  }
  
  .phone__number1 span {
	margin-left: 3px;
  }
  
  .phone__numbers {
	top: 47px;
    left: -3px;
	width: 214px;
    padding: 18px 0px 7px 0px;
	
  }
	
  .phone__number {
    margin-bottom: 14px;
    padding: 4px 3px 4px 63px;
  }
  
  .phone__number2 {
    background: url("../img/phone-icon-2.svg") 25px 2px no-repeat;
  }

  .phone__number3 {
    background: url("../img/phone-icon-3.svg") 25px 0 no-repeat;
  }

  .phone__number4 {
    background: url("../img/phone-icon-4.svg") 26px 1px no-repeat;
  }
  
  .page-header__basket {
    position: absolute;
	top: 7px;
    right: 7px;
  }
  
  .page-header__basket svg {
    width: 41px;
    height: 41px;
  }
  
  .page-header__basket-circle {
    top: -8px;
    left: 29px;
    width: 27px;
    height: 27px;
  }
}

 @media screen and (max-width: 900px) {
  .page-header__top {
    flex-wrap: wrap;
    position: relative;
  }

  .logo {
    width: 154px;
    order: 1;
    /*! text-align: left; */
  }
  
  .logo img {
    /*! width: 100%; */
  }
 
  /*.logo svg {
    width: 154px;
    height: 46px;
  }*/

  .promo-block {
    order: 3;
	/*! position: relative; */
	/*! top: -1px; */
    padding-right: 105px;
    text-align: left;
  }
  
  .promo-block__slogan {
	/*! position: absolute; */
	/*! bottom: 1px; */
  }
  
  .promo-block__timetable {
	position: absolute;
	bottom: 23px;
	right: 11px;
	width: 148px;
  }
 
  .page-header__part-down {
    order: 2;
  }
  
  .page-header__user-block span {
    display: none;
  }
  
  .page-header__user {
    width: 21px;
    height: 21px;
	margin-top: -4px;
    stroke: #1ab0ce;;
	stroke-width: 0.5;
 }
 
 .page-header__user-block {
    margin-right: 45px;
    margin-bottom: 9px;
  }
  
  .page-header__info {
   /* position: static;*/
  }
  
  .phone {
    /* position: static;*/
  }
  
  .phone__social {
    top: -62px;
    left: 123px;
  }
 
  .phone__social svg {
    stroke: #1ab0ce;
  }
  
  .phone__social:hover svg {
    stroke: #0787a1;
  }
  
  .phone__social:active svg {
    stroke: #99e9f9;
  }
  
  .page-header__mail {
    margin-right: 27px;
    /*! margin-bottom: 0px; */
  }
  
  .phone__numbers {
    z-index: 10;
}
 
 .page-header__basket {
    top: -3px;
    right: -4px;
  }
 
 .page-header__basket svg {
    width: 26px;
    height: 26px; 
  }
  
  .page-header__basket-circle {
     display: none;
  }
}

@media screen and (max-width: 560px) {
   .page-header__top {
	display: block;
    flex-wrap: nowrap;
    position: relative;
	padding-top: 10px;
  }
  
  .page-header__toggle {
	position: absolute;
	top: 12px;
	right: 8px;
    display: block;
	padding: 3px 6px;
    background-color: #f9e9e9;
	border: 0; 
	cursor: pointer;
  }
  
  .page-header__toggle  svg{
    width: 20px;
	height: 14px;
	stroke: #1ab0ce;
  }
  
  .page-header__toggle:hover svg {
	stroke: #0787a1;
  }
  
  .page-header__toggle:active svg {
	stroke: #99e9f9;
  }

  .logo {
	min-width: 50px;
    width: 124px;
    /*! order: 1; */
  }
  
  .logo img {
    /*! width: 100%; */
  }
 
  /*.logo svg {
    width: 154px;
    height: 46px;
  }*/

  .promo-block {
    max-width: 390px;
	margin: 0 auto;
	/*! position: relative; */
	/*! top: -1px; */
	margin-bottom: 5px;
    padding-right: 0px;
    text-align: center;
  }
  
  .promo-block__slogan {
	/*! position: absolute; */
	/*! bottom: 1px; */
	margin-bottom: 9px;
  }
  
  .promo-block__timetable {
	position: static;
	width: 100%;
	margin: 0 auto;
	padding-right: 0;
	text-align: center;
  }
 
  .page-header__part-down {
    /*! order: 3; */
  }
  
  .page-header__user-block span {
    
  /*! display: inline; */
  }
  
  .page-header__user {
   width: 16px;
    height: 16px;
	/*!margin-top: -4px;*/
    /*!stroke: #1ab0ce;;*/
	stroke-width: 0.5;
 }
 
 .page-header__user-block {
	 position: absolute;
	 top: 12px;
	 right: 39px;
    /*!margin-right: 45px;*/
    /*!margin-bottom: 9px;*/
  }
  
  .page-header__info {
   position: static;
   width: 100%;
   margin-right: 0;
   text-align: center;
  }
  
  .phone {
    /*! position: static; */
    /*! margin-top: 4px; */
    width: 220px;
    margin: 4px auto 0 auto;
  }
  
  .phone__social {
    top: 6px;
    left: 7px;
    /*! position: static; */
  }
 
  .phone__social svg {
    stroke: #3d76b9;
  }
  
  .phone__social:hover svg {
    stroke: #2fb4d0;
  }
  
  .phone__social:active svg {
    stroke: #99e9f9;
  }
  
  .page-header__mail {
    margin-right: 0;
    /*! margin-bottom: 0px; */
    position: static;
    display: block;
  }
  
  .phone__number1 {
	/*! width: 174px; */
    /*! margin: 0 auto; */
    /*! padding-top: 3px; */
    /*! background-color: red; */
    background-position: 34px 8px;
  }
  
  .phone__numbers {
    /*! z-index: auto; */
    /*! display: block; */
    /*! position: static; */
    /*! margin-top: 10px; */
    top: 47px;
    left: 5px;
    width: 208px;
    padding: 13px 0px 1px 0px;
}
  .phone__number {
    padding-left: 61px;
  }
  .phone__number2 {
	position: relative;
	z-index: 10;
    background-position: 22px 2px;
  }

  .phone__number3 {
    background-position: 22px 0;
  }

  .phone__number4 {
    background-position: 23px 1px;
  }
 
 .page-header__basket {
    top: -3px;
    right: 40px;
    /*! position: static; */
  }
 
 .page-header__basket svg {
    width: 18px;
    height: 18px;
  }
  
  .page-header__basket-circle {
     display: none;
  } 
}